@import '../../../../wlo-ui/src/styles/variables';

.layout {
    width: 100%;
    border-bottom: 1px dashed $gray-600;


    .top-nav {
        height: 55px;
        // max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: auto;
    }
    
    .icons-right-side {
        display: flex;
        align-items: center;
    }
    
    .icons-left-side {
        display: flex;
        align-items: center;
        .wlo-logo {
            cursor: pointer;
        }
    }
}

