<section class="container section">
  <div class="section-texts">
    <div class="section-title">
      <wlo-typography variant="h1" tag="h1" [text]="'wlo-ui-demo.page.typography.title' | translate" />
    </div>
    <div class="section-description">
      <wlo-typography
        variant="muted"
        tag="p"
        [text]="'wlo-ui-demo.page.typography.description' | translate"
      />
    </div>
  </div>

  <div class="tab-group">
    <mat-tab-group>
      <mat-tab [label]="'wlo-ui-demo.page.typography.preview' | translate">
        <div class="tab-preview">
          <wlo-typography tag="h4" variant="h1" [text]="'wlo-ui-demo.page.typography.previewText' | translate" />
        </div>
      </mat-tab>
  
      <mat-tab [label]="'wlo-ui-demo.page.typography.code' | translate">
        <div class="tab-code">
            <code>
              <span>
                import &#123; WloTypographyComponent &#125; from '&#64;wlo-ui/typography';
              </span><br><br>
              <span>
                &lt;wlo-typography variant="h1" tag="h1" text="{{ 'wlo-ui-demo.page.typography.previewText' | translate }}"&gt;&lt;/wlo-button&gt;
              </span>
            </code>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="section-subtitle">
    <wlo-typography variant="h2" tag="h2" [text]="'wlo-ui-demo.page.typography.installation' | translate"/>
</div>
<div class="section-description">
    <wlo-typography variant="p" tag="h3" text="npm"/>
</div>

<div class="tab-code installation">
    <code>
        <span>npx wlo-ui&#64;latest add typography</span>
    </code>
</div>

<div class="section-subtitle">
    <wlo-typography variant="h2" tag="h2" [text]="'wlo-ui-demo.page.typography.usage' | translate"/>
</div>

<div class="tab-code installation">
    <code>
        <span>import &#123; WloTypographyComponent &#125; from '&#64;wlo-ui/typography';</span>
    </code>
</div>
<div class="tab-code installation">
    <code>
        <span>
          &lt;wlo-typography variant="h1" tag="h1" text="{{ 'wlo-ui-demo.page.typography.previewText' | translate }}"&gt;&lt;/wlo-button&gt;
        </span>
    </code>
</div>

<div class="section-subtitle">
    <wlo-typography variant="h2" tag="h2" [text]="'wlo-ui-demo.page.typography.examples' | translate"/>
</div>

  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h3" [text]="'wlo-ui-demo.page.typography.example.heading1.title' | translate"/>
  </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h3" [text]="'wlo-ui-demo.page.typography.example.heading1.description' | translate"/>
  </div>

  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.typography.preview' | translate">
      <div class="tab-preview">
        <wlo-typography tag="h4" variant="h1" [text]="'wlo-ui-demo.page.typography.example.heading1.previewLabel' | translate" />
      </div>
    </mat-tab>

    <mat-tab [label]="'wlo-ui-demo.page.typography.code' | translate">
      <div class="tab-code">
          <code>
            <span>
              import &#123; WloTypographyComponent &#125; from '&#64;wlo-ui/typography';
            </span><br><br>
            <span>
              &lt;wlo-typography variant="h1" tag="h1" text="{{ 'wlo-ui-demo.page.typography.previewText' | translate }}"&gt;&lt;/wlo-typography&gt;
            </span>
          </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h3" [text]="'wlo-ui-demo.page.typography.example.heading2.title' | translate"/>
    </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h3" [text]="'wlo-ui-demo.page.typography.example.heading2.description' | translate"/>
  </div>

  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.typography.preview' | translate">
      <div class="tab-preview">
        <wlo-typography tag="h4" variant="h2" [text]="'wlo-ui-demo.page.typography.example.heading2.previewLabel' | translate" />
      </div>
    </mat-tab>

    <mat-tab [label]="'wlo-ui-demo.page.typography.code' | translate">
      <div class="tab-code">
          <code>
            <span>
              import &#123; WloTypographyComponent &#125; from '&#64;wlo-ui/typography';
            </span><br><br>
            <span>
              &lt;wlo-typography variant="h2" tag="h2" text="{{ 'wlo-ui-demo.page.typography.example.heading2.previewLabel' | translate }}"&gt;&lt;/wlo-typography&gt;
            </span>
          </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h3" [text]="'wlo-ui-demo.page.typography.example.heading3.title' | translate"/>
    </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h3" [text]="'wlo-ui-demo.page.typography.example.heading3.description' | translate"/>
  </div>

  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.typography.preview' | translate">
      <div class="tab-preview">
        <wlo-typography tag="h4" variant="h3" [text]="'wlo-ui-demo.page.typography.example.heading3.previewLabel' | translate" />
      </div>
    </mat-tab>

    <mat-tab [label]="'wlo-ui-demo.page.typography.code' | translate">
      <div class="tab-code">
          <code>
            <span>
              import &#123; WloTypographyComponent &#125; from '&#64;wlo-ui/typography';
            </span><br><br>
            <span>
              &lt;wlo-typography variant="h3" tag="h3" text="{{ 'wlo-ui-demo.page.typography.example.heading3.previewLabel' | translate }}"&gt;&lt;/wlo-typography&gt;
            </span>
          </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h3" [text]="'wlo-ui-demo.page.typography.example.heading4.title' | translate"/>
    </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h3" [text]="'wlo-ui-demo.page.typography.example.heading4.description' | translate"/>
  </div>

  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.typography.preview' | translate">
      <div class="tab-preview">
        <wlo-typography tag="h4" variant="h4" [text]="'wlo-ui-demo.page.typography.example.heading4.previewLabel' | translate" />
      </div>
    </mat-tab>

    <mat-tab [label]="'wlo-ui-demo.page.typography.code' | translate">
      <div class="tab-code">
          <code>
            <span>
              import &#123; WloTypographyComponent &#125; from '&#64;wlo-ui/typography';
            </span><br><br>
            <span>
              &lt;wlo-typography variant="h4" tag="h4" text="{{ 'wlo-ui-demo.page.typography.example.heading4.previewLabel' | translate }}"&gt;&lt;/wlo-typography&gt;
            </span>
          </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h3" [text]="'wlo-ui-demo.page.typography.example.lead.title' | translate" />
    </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h3" [text]="'wlo-ui-demo.page.typography.example.lead.description' | translate" />
  </div>

  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.typography.preview' | translate">
      <div class="tab-preview">
        <wlo-typography tag="p" variant="lead" [text]="'wlo-ui-demo.page.typography.example.lead.previewLabel' | translate" />
      </div>
    </mat-tab>

    <mat-tab [label]="'wlo-ui-demo.page.typography.code' | translate">
      <div class="tab-code">
          <code>
            <span>
              import &#123; WloTypographyComponent &#125; from '&#64;wlo-ui/typography';
            </span><br><br>
            <span>
              &lt;wlo-typography variant="lead" tag="p" text="{{ 'wlo-ui-demo.page.typography.example.lead.previewLabel' | translate}}"&gt;&lt;/wlo-typography&gt;
            </span>
          </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h3" [text]="'wlo-ui-demo.page.typography.example.paragraph.title' | translate"/>
    </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h3" [text]="'wlo-ui-demo.page.typography.example.paragraph.description' | translate"/>
  </div>

  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.typography.preview' | translate">
      <div class="tab-preview">
        <wlo-typography tag="p" variant="p" [text]="'wlo-ui-demo.page.typography.example.paragraph.previewLabel' | translate" />
      </div>
    </mat-tab>

    <mat-tab [label]="'wlo-ui-demo.page.typography.code' | translate">
      <div class="tab-code">
          <code>
            <span>
              import &#123; WloTypographyComponent &#125; from '&#64;wlo-ui/typography';
            </span><br><br>
            <span>
              &lt;wlo-typography variant="p" tag="p" text="{{ 'wlo-ui-demo.page.typography.example.paragraph.previewLabel' | translate }}"&gt;&lt;/wlo-typography&gt;
            </span>
          </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h3" [text]="'wlo-ui-demo.page.typography.example.blockquote.title' | translate"/>
    </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h3" [text]="'wlo-ui-demo.page.typography.example.blockquote.description' | translate"/>
  </div>

  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.typography.preview' | translate">
      <div class="tab-preview">
        <wlo-typography tag="blockquote" variant="blockquote" [text]="'wlo-ui-demo.page.typography.example.blockquote.previewLabel' | translate" />
      </div>
    </mat-tab>

    <mat-tab [label]="'wlo-ui-demo.page.typography.code' | translate">
      <div class="tab-code">
          <code>
            <span>
              import &#123; WloTypographyComponent &#125; from '&#64;wlo-ui/typography';
            </span><br><br>
            <span>
              &lt;wlo-typography variant="blockquote" tag="blockquote" text="{{ 'wlo-ui-demo.page.typography.example.blockquote.previewLabel' | translate }}"&gt;&lt;/wlo-typography&gt;
            </span>
          </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h3" [text]="'wlo-ui-demo.page.typography.example.list.title' | translate"/>

  </div>
  <div class="section-description list">
    <wlo-typography variant="p" tag="h3" [text]="'wlo-ui-demo.page.typography.example.list.description' | translate"/>
  </div>

  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.typography.preview' | translate">
      <div class="tab-preview">
        <wlo-typography tag="ul" variant="list" [text]="'wlo-ui-demo.page.typography.example.list.previewLabel' | translate" />
      </div>
    </mat-tab>

    <mat-tab [label]="'wlo-ui-demo.page.typography.code' | translate">
      <div class="tab-code">
          <code>
            <span>
              import &#123; WloTypographyComponent &#125; from '&#64;wlo-ui/typography';
            </span><br><br>
            <span>
              &lt;wlo-typography variant="blockquote" tag="blockquote" text="{{ 'wlo-ui-demo.page.typography.example.list.previewLabel' | translate }}"&gt;&lt;/wlo-typography&gt;
            </span>
          </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h3" [text]="'wlo-ui-demo.page.typography.example.code.title' | translate"/>

  </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h3" [text]="'wlo-ui-demo.page.typography.example.code.description' | translate"/>
  </div>

  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.typography.preview' | translate">
      <div class="tab-preview">
        <wlo-typography variant="code" tag="code" text="npm install wlo-ui">
        </wlo-typography>
      </div>
    </mat-tab>

    <mat-tab [label]="'wlo-ui-demo.page.typography.code' | translate">
      <div class="tab-code">
          <code>
            <span>
              import &#123; WloTypographyComponent &#125; from '&#64;wlo-ui/typography';
            </span><br><br>
            <span>
              &lt;wlo-typography variant="code" tag="code" text="npm install wlo-ui"&gt;&lt;/wlo-typography&gt;
            </span>
          </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h3" [text]="'wlo-ui-demo.page.typography.example.large.title' | translate"/>

  </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h3" [text]="'wlo-ui-demo.page.typography.example.large.description' | translate"/>
  </div>

  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.typography.preview' | translate">
      <div class="tab-preview">
        <wlo-typography variant="large" tag="span" [text]="'wlo-ui-demo.page.typography.example.large.previewLabel' | translate">
        </wlo-typography>
      </div>
    </mat-tab>

    <mat-tab [label]="'wlo-ui-demo.page.typography.code' | translate">
      <div class="tab-code">
          <code>
            <span>
              import &#123; WloTypographyComponent &#125; from '&#64;wlo-ui/typography';
            </span><br><br>
            <span>
              &lt;wlo-typography variant="large" tag="span" text="{{ 'wlo-ui-demo.page.typography.example.large.title' | translate }}"&gt;&lt;/wlo-typography&gt;
            </span>
          </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h3" [text]="'wlo-ui-demo.page.typography.example.small.title' | translate"/>

  </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h3" [text]="'wlo-ui-demo.page.typography.example.small.description' | translate"/>
  </div>

  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.typography.preview' | translate">
      <div class="tab-preview">
        <wlo-typography variant="small" tag="small" [text]="'wlo-ui-demo.page.typography.example.small.previewLabel' | translate">
        </wlo-typography>
      </div>
    </mat-tab>

    <mat-tab [label]="'wlo-ui-demo.page.typography.code' | translate">
      <div class="tab-code">
          <code>
            <span>
              import &#123; WloTypographyComponent &#125; from '&#64;wlo-ui/typography';
            </span><br><br>
            <span>
              &lt;wlo-typography variant="small" tag="small" text="{{ 'wlo-ui-demo.page.typography.example.small.previewLabel' | translate }}"&gt;&lt;/wlo-typography&gt;
            </span>
          </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h3" [text]="'wlo-ui-demo.page.typography.example.muted.title' | translate"/>

  </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h3" [text]="'wlo-ui-demo.page.typography.example.muted.description' | translate"/>
  </div>

  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.typography.preview' | translate">
      <div class="tab-preview">
        <wlo-typography variant="muted" tag="small" [text]="'wlo-ui-demo.page.typography.example.muted.previewLabel' | translate">
        </wlo-typography>
      </div>
    </mat-tab>

    <mat-tab [label]="'wlo-ui-demo.page.typography.code' | translate">
      <div class="tab-code">
          <code>
            <span>
              import &#123; WloTypographyComponent &#125; from '&#64;wlo-ui/typography';
            </span><br><br>
            <span>
              &lt;wlo-typography variant="muted" tag="small" text="{{ 'wlo-ui-demo.page.typography.example.muted.previewLabel' | translate }}"&gt;&lt;/wlo-typography&gt;
            </span>
          </code>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
