<section class="container home">
    <div class="home__intro">
      <h1 class="home__title">wlo-ui</h1>
      <p class="home__subtitle">Build beautiful Angular interfaces with consistent, reusable components.</p>
  
      <div class="home__actions">
        <a routerLink="/wlo-button" class="home__btn">Explore Components</a>
        <a href="https://github.com/willian-leal/wlo-ui-workspace" target="_blank" class="home__btn secondary">View on GitHub</a>
      </div>
    </div>
  
    <div class="home__preview">
      <!-- <wlo-button variant="primary" label="Primary"></wlo-button>
      <wlo-button variant="secondary" label="Secondary"></wlo-button>
      <wlo-typography tag="p" variant="p" text="Fast, accessible and flexible UI for Angular." /> -->
    </div>
</section>
  