<section class="container components">
    <header class="components-header">
      <wlo-typography
        tag="h1"
        variant="h1"
        text="Component Library"
      />
      <div class="component-info">
        <wlo-typography
          tag="p"
          variant="muted"
          text="Explore reusable UI components built for scalability, customization, and theme consistency."
        />
      </div>
    </header>
  
    <div class="components-list">
      <div class="component-item">
        <div class="component-name">
          <wlo-typography
            variant="h2"
            tag="h2"
            text="Typography"
          />
        </div>
        <div class="component-info">
          <wlo-typography
            tag="p"
            variant="muted"
            text="A set of text elements with predefined styles such as headings, paragraphs, code, and more — all consistent with the theme."
          />
        </div>
        <wlo-button
          variant="secondary"
          label="View Typography"
          [routerLink]="['/wlo-typography']"
        ></wlo-button>
      </div>
  
      <div class="component-item">
        <div class="component-name">
          <wlo-typography
            variant="h2"
            tag="h2"
            text="Button"
          />
        </div>
        <div class="component-info">
          <wlo-typography
            tag="p"
            variant="muted"
            text="Flexible and theme-aware button component. Includes support for icons, states, sizes and interaction modes."
          />
        </div>
        <wlo-button
          variant="secondary"
          label="View Button"
          [routerLink]="['/wlo-button']"
        ></wlo-button>
      </div>
    </div>
  </section>
  