<section class="container components">
    <header class="components-header">
      <wlo-typography
        tag="h1"
        variant="h1"
        [text]="'wlo-ui-demo.page.components.pageTitle' | translate"
      />
      <div class="component-info">
        <wlo-typography
          tag="p"
          variant="muted"
          [text]="'wlo-ui-demo.page.components.pageDescription' | translate"
        />
      </div>
    </header>
  
    <div class="components-list">
      <div class="component-item">
        <div class="component-name">
          <wlo-typography
            variant="h2"
            tag="h2"
            [text]="'wlo-ui-demo.page.components.typography.title' | translate"
          />
        </div>
        <div class="component-info">
          <wlo-typography
            tag="p"
            variant="muted"
            [text]="'wlo-ui-demo.page.components.typography.description' | translate"
          />
        </div>
        <wlo-button
          variant="secondary"
          [label]="'wlo-ui-demo.page.components.typography.buttonLabel' | translate"
          [routerLink]="['/wlo-typography']"
        ></wlo-button>
      </div>
  
      <div class="component-item">
        <div class="component-name">
          <wlo-typography
            variant="h2"
            tag="h2"
            [text]="'wlo-ui-demo.page.components.button.title' | translate"
          />
        </div>
        <div class="component-info">
          <wlo-typography
            tag="p"
            variant="muted"
            [text]="'wlo-ui-demo.page.components.button.description' | translate"
          />
        </div>
        <wlo-button
          variant="secondary"
          [label]="'wlo-ui-demo.page.components.button.buttonLabel' | translate"
          [routerLink]="['/wlo-button']"
        ></wlo-button>
      </div>
    </div>
  </section>
  