@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
@mixin button-reset {
  all: unset;
  cursor: pointer;
}
  
@mixin respond-up($breakpoint) {
  @if $breakpoint == xs {
    @media (min-width: $break-xs) { @content; }
  } @else if $breakpoint == sm {
    @media (min-width: $break-sm) { @content; }
  } @else if $breakpoint == md {
    @media (min-width: $break-md) { @content; }
  } @else if $breakpoint == lg {
    @media (min-width: $break-lg) { @content; }
  } @else if $breakpoint == xl {
    @media (min-width: $break-xl) { @content; }
  } @else if $breakpoint == 2xl {
    @media (min-width: $break-2xl) { @content; }
  }
}

  