<section class="container section">
  <div class="section-texts">
    <div class="section-title">
      <wlo-typography variant="h1" tag="h1" [text]="'wlo-ui-demo.page.button.title' | translate" />
    </div>
    <div class="section-description">
      <wlo-typography variant="p" tag="h3" [text]="'wlo-ui-demo.page.button.description' | translate" />
    </div>
  </div>

  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.button.preview' | translate">
      <div class="tab-preview">
        <wlo-button
          variant="primary"
          [label]="'wlo-ui-demo.page.button.primary.previewLabel' | translate">
        </wlo-button>
      </div>
    </mat-tab>
    <mat-tab [label]="'wlo-ui-demo.page.button.code' | translate">
      <div class="tab-code">
        <code>
          <span>import &#123; WloButtonComponent &#125; from '&#64;wlo-ui/button';</span><br><br>
          <span>&lt;wlo-button variant="primary" label="{{ 'wlo-ui-demo.page.button.primary.previewLabel' | translate }}"&gt;&lt;/wlo-button&gt;</span>
        </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="section-subtitle">
    <wlo-typography variant="h2" tag="h2" [text]="'wlo-ui-demo.page.button.installation' | translate"/>
  </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h3" [text]="'wlo-ui-demo.page.button.npm' | translate"/>
  </div>

  <div class="tab-code installation">
    <code><span>npx wlo-ui&#64;latest add button</span></code>
  </div>

  <div class="section-subtitle">
    <wlo-typography variant="h2" tag="h2" [text]="'wlo-ui-demo.page.button.usage' | translate"/>
  </div>

  <div class="tab-code installation">
    <code><span>import &#123; WloButtonComponent &#125; from '&#64;wlo-ui/button';</span></code>
  </div>
  <div class="tab-code installation">
    <code><span>&lt;wlo-button variant="primary" label="{{ 'wlo-ui-demo.page.button.primary.previewLabel' | translate }}"&gt;&lt;/wlo-button&gt;</span></code>
  </div>

  <div class="section-subtitle">
    <wlo-typography variant="h2" tag="h2" [text]="'wlo-ui-demo.page.button.examples' | translate"/>
  </div>

  <!-- Primary -->
  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h3" [text]="'wlo-ui-demo.page.button.primary.title' | translate"/>
  </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h4" [text]="'wlo-ui-demo.page.button.primary.description' | translate"/>
  </div>
  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.button.preview' | translate">
      <div class="tab-preview">
        <wlo-button
          variant="primary"
          [label]="'wlo-ui-demo.page.button.primary.previewLabel' | translate">
        </wlo-button>
      </div>
    </mat-tab>
    <mat-tab [label]="'wlo-ui-demo.page.button.code' | translate">
      <div class="tab-code">
        <code>
          <span>import &#123; WloButtonComponent &#125; from '&#64;wlo-ui/button';</span><br><br>
          <span>&lt;wlo-button variant="primary" label="{{ 'wlo-ui-demo.page.button.primary.previewLabel' | translate }}"&gt;&lt;/wlo-button&gt;</span>
        </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- Secondary -->
  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h4" [text]="'wlo-ui-demo.page.button.secondary.title' | translate"/>
  </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h4" [text]="'wlo-ui-demo.page.button.secondary.description' | translate"/>
  </div>
  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.button.preview' | translate">
      <div class="tab-preview">
        <wlo-button
          variant="secondary"
          [label]="'wlo-ui-demo.page.button.secondary.previewLabel' | translate">
        </wlo-button>
      </div>
    </mat-tab>
    <mat-tab [label]="'wlo-ui-demo.page.button.code' | translate">
      <div class="tab-code">
        <code>
          <span>import &#123; WloButtonComponent &#125; from '&#64;wlo-ui/button';</span><br><br>
          <span>&lt;wlo-button variant="secondary" label="{{ 'wlo-ui-demo.page.button.secondary.previewLabel' | translate }}"&gt;&lt;/wlo-button&gt;</span>
        </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- Danger -->
  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h4" [text]="'wlo-ui-demo.page.button.danger.title' | translate"/>
  </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h4" [text]="'wlo-ui-demo.page.button.danger.description' | translate"/>
  </div>
  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.button.preview' | translate">
      <div class="tab-preview">
        <wlo-button
          variant="danger"
          [label]="'wlo-ui-demo.page.button.danger.previewLabel' | translate">
        </wlo-button>
      </div>
    </mat-tab>
    <mat-tab [label]="'wlo-ui-demo.page.button.code' | translate">
      <div class="tab-code">
        <code>
          <span>import &#123; WloButtonComponent &#125; from '&#64;wlo-ui/button';</span><br><br>
          <span>&lt;wlo-button variant="danger" label="{{ 'wlo-ui-demo.page.button.danger.previewLabel' | translate }}"&gt;&lt;/wlo-button&gt;</span>
        </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- Outline -->
  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h4" [text]="'wlo-ui-demo.page.button.outline.title' | translate"/>
  </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h4" [text]="'wlo-ui-demo.page.button.outline.description' | translate"/>
  </div>
  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.button.preview' | translate">
      <div class="tab-preview">
        <wlo-button
          variant="outline"
          [label]="'wlo-ui-demo.page.button.outline.previewLabel' | translate">
        </wlo-button>
      </div>
    </mat-tab>
    <mat-tab [label]="'wlo-ui-demo.page.button.code' | translate">
      <div class="tab-code">
        <code>
          <span>import &#123; WloButtonComponent &#125; from '&#64;wlo-ui/button';</span><br><br>
          <span>&lt;wlo-button variant="outline" label="{{ 'wlo-ui-demo.page.button.outline.previewLabel' | translate }}"&gt;&lt;/wlo-button&gt;</span>
        </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- Ghost -->
  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h4" [text]="'wlo-ui-demo.page.button.ghost.title' | translate"/>
  </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h4" [text]="'wlo-ui-demo.page.button.ghost.description' | translate"/>
  </div>
  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.button.preview' | translate">
      <div class="tab-preview">
        <wlo-button
          variant="ghost"
          [label]="'wlo-ui-demo.page.button.ghost.previewLabel' | translate">
        </wlo-button>
      </div>
    </mat-tab>
    <mat-tab [label]="'wlo-ui-demo.page.button.code' | translate">
      <div class="tab-code">
        <code>
          <span>import &#123; WloButtonComponent &#125; from '&#64;wlo-ui/button';</span><br><br>
          <span>&lt;wlo-button variant="ghost" label="{{ 'wlo-ui-demo.page.button.ghost.previewLabel' | translate }}"&gt;&lt;/wlo-button&gt;</span>
        </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- Link -->
  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h4" [text]="'wlo-ui-demo.page.button.link.title' | translate"/>
  </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h4" [text]="'wlo-ui-demo.page.button.link.description' | translate"/>
  </div>
  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.button.preview' | translate">
      <div class="tab-preview">
        <wlo-button
          variant="link"
          [label]="'wlo-ui-demo.page.button.link.previewLabel' | translate">
        </wlo-button>
      </div>
    </mat-tab>
    <mat-tab [label]="'wlo-ui-demo.page.button.code' | translate">
      <div class="tab-code">
        <code>
          <span>import &#123; WloButtonComponent &#125; from '&#64;wlo-ui/button';</span><br><br>
          <span>&lt;wlo-button variant="link" label="{{ 'wlo-ui-demo.page.button.link.previewLabel' | translate }}"&gt;&lt;/wlo-button&gt;</span>
        </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- Icon only -->
  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h4" [text]="'wlo-ui-demo.page.button.iconOnly.title' | translate"/>
  </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h4" [text]="'wlo-ui-demo.page.button.iconOnly.description' | translate"/>
  </div>
  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.button.preview' | translate">
      <div class="tab-preview">
        <wlo-button
          variant="ghost"
          [iconOnly]="true"
          icon="done">
        </wlo-button>
      </div>
    </mat-tab>
    <mat-tab [label]="'wlo-ui-demo.page.button.code' | translate">
      <div class="tab-code">
        <code>
          <span>import &#123; WloButtonComponent &#125; from '&#64;wlo-ui/button';</span><br><br>
          <span>&lt;wlo-button variant="ghost" [iconOnly]="true" icon="done"&gt;&lt;/wlo-button&gt;</span>
        </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- With icon -->
  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h4" [text]="'wlo-ui-demo.page.button.withIcon.title' | translate"/>
  </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h4" [text]="'wlo-ui-demo.page.button.withIcon.description' | translate"/>
  </div>
  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.button.preview' | translate">
      <div class="tab-preview">
        <wlo-button
          variant="primary"
          [label]="'wlo-ui-demo.page.button.withIcon.previewLabel' | translate"
          icon="email">
        </wlo-button>
      </div>
    </mat-tab>
    <mat-tab [label]="'wlo-ui-demo.page.button.code' | translate">
      <div class="tab-code">
        <code>
          <span>import &#123; WloButtonComponent &#125; from '&#64;wlo-ui/button';</span><br><br>
          <span>&lt;wlo-button variant="primary" label="{{ 'wlo-ui-demo.page.button.withIcon.previewLabel' | translate }}" icon="email"&gt;&lt;/wlo-button&gt;</span>
        </code>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- Loading -->
  <div class="section-description examples">
    <wlo-typography variant="h4" tag="h4" [text]="'wlo-ui-demo.page.button.loading.title' | translate"/>
  </div>
  <div class="section-description">
    <wlo-typography variant="p" tag="h4" [text]="'wlo-ui-demo.page.button.loading.description' | translate"/>
  </div>
  <mat-tab-group>
    <mat-tab [label]="'wlo-ui-demo.page.button.preview' | translate">
      <div class="tab-preview">
        <wlo-button variant="primary" [loading]="true"></wlo-button>
      </div>
    </mat-tab>
    <mat-tab [label]="'wlo-ui-demo.page.button.code' | translate">
      <div class="tab-code">
        <code>
          <span>import &#123; WloButtonComponent &#125; from '&#64;wlo-ui/button';</span><br><br>
          <span>&lt;wlo-button variant="primary" [loading]="true"&gt;&lt;/wlo-button&gt;</span>
        </code>
      </div>
    </mat-tab>
  </mat-tab-group>
</section>
